<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="spacer30"></div>
    <form id="updateTask">
      <div class="form-group">
        <label>
          Title
          <input type="text" id="title" name="title" placeholder="<%= task.title %>" required>
        </label>
        <label>
          Due Date
          <input type="text" id="dueDate" name="dueDate" placeholder="<%= task.dueDate %>" required>
        </label>
        <label>
          Status
          <input type="text" id="status" name="status" placeholder="<%= task.status %>" required>
        </label>
        <button type="button" id="<%= task._id %>" class="btn update-btn">Update Task</button>
      </div>
    </form>
    <a href="/">Back</a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src='/javascripts/main.js'></script>
  </body>
</html>
